
    
    <section id="menus" class="menus sections">
        <div class="container">
          <div class="row">
            <div class="main_menus">
              <div class="head_title text-center wow slideInDown" data-wow-duration="2s">
                <h2>Menu</h2>
                <div class="separetor"></div>
              </div>
              
              <div class="menus_top_menu text-center wow slideInDown" data-wow-duration="1.5s">
                <ul>
                  <li class="active"><a href="">Sopas</a></li>
                  <li><a href="">Ensalada</a></li>
                  <li><a href="">Postres</a></li>
                  
                </ul>
              </div>
              
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="single_menus wow slideInLeft" data-wow-duration="1.5s">
                  <ul>
                    <li> Ensalada Primavera  .......................................................... $120 <span> ricotta, shallots, cheddar, capers</span></li>
                    <li> Ensalada Otoño  ................................................................ $130 <span> ricotta, shallots, cheddar, capers</span></li>
                    <li> Ensalada Invierno  .............................................................$140 <span> ricotta, shallots, cheddar, capers</span></li>
                    <li> Sopa Verano   ..................................................................... $180 <span> ricotta, shallots, cheddar, capers</span></li>
                    <li> Sopa Primavera  ................................................................ $130 <span> ricotta, shallots, cheddar, capers</span></li>
                    <li> Sopa Otoño  ........................................................................ $170 <span> ricotta, shallots, cheddar, capers</span></li>
                    <li> Sopa Invierno  ................................................................. $140 <span> ricotta, shallots, cheddar, capers</span></li>
                    
                  </ul>	
                </div>
              </div>
              
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="single_menus wow slideInRight" data-wow-duration="1.5s">
                  <ul>
                    <li> Gazpacho de Sandia   ............................................................$150 <span> ricotta, shallots, cheddar, capers</span></li>
                    <li> Gazpacho de Sandia   ........................................................... $180 <span> ricotta, shallots, cheddar, capers</span></li>
                    <li> Nieve Colores   .................................................................... $80 <span> ricotta, shallots, cheddar, capers</span></li>
                    <li> Pastel Arcoiris  .................................................................. $90 <span> ricotta, shallots, cheddar, capers</span></li>
                    <li> Postre Primavera  .................................................................$50 <span> ricotta, shallots, cheddar, capers</span></li>
                    <li> Donut Ligth   ........................................................................... $40 <span> ricotta, shallots, cheddar, capers</span></li>
                    <li> Limonada-Naranjada-Tea   .........................................................$40 <span> ricotta, shallots, cheddar, capers</span></li>
                    
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>