

  
    <div class='preloader'><div class='loaded'>&nbsp;</div></div>
    <header id="home" class="header">
      <div class="main_menu_bg navbar-fixed-top wow slideInDown" data-wow-duration="1s">
        <div class="container">
          <div class="row">
            <div class="nave_menu">
            <nav class="navbar navbar-default">
              <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                
              </div>
  
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
                <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="#home">Home</a></li>
                <li><a href="#features"></a></li>
                <li><a href="#special">MENU</a></li>
                <li><a href="#abouts">NOSOTROS</a></li>
                <li><a href="#footer">CONTACTO</a></li>
                
                </ul>
              </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
            </div>	
          </div><!--End of row -->
          
        </div><!--End of container -->
        
      </div>
    </header> <!--End of header -->
    
                          <!--cris home de la pagina -->
    
    <section id="banner" class="banner">
      <div class="container">
        <div class="row">
          <div class="main_banner_area text-center">
            <div class="col-md-5 col-sm-5 col-md-offset-7 col-sm-offset-7">
              <div class="single_banner_text wow zoomIn" data-wow-duration="5s">
                <p>Vegetarian Restaurant Cris </p>
                
                <div class="separetor"></div>
              </div>
            </div>
            
            
            <div class="scrolldown">
              <a href="#special" class="scroll_btn"></a>
            </div>
          </div>
          
          
        </div>
      </div>
    </section><!-- End of Banner Section -->
    
    
  
    
    <section id="features" class="features sections">
      <div class="container">
        <div class="row">
          <div class="features_content text-center">
            <div class="col-md-4">
              <div class="sinle_features wow slideInUp" data-wow-duration="1s">
                <img src="../../assets/img/icon1.png" alt="" />
                <h5>SOPAS</h5>
                <p> Diferentes estilos.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="sinle_features wow slideInUp" data-wow-duration="1.5s">
                <img src="../../assets/img/icon1.png" alt="" />
                <h5>ENSALADAS</h5>
                <p>Exquisitas y con la posibilidad de integrar 3 ingredientes más.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="sinle_features wow slideInUp" data-wow-duration="2s">
                <img src="../../assets/img/icon1.png" alt="" />
                <h5>POSTRES</h5>
                <p>Exquisitos postres </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End of Abouts Section -->	
