
 <section id="special" class="special sections">
    <div class="container">
      <div class="row">
        <div class="head_title text-center wow slideInLeft" data-wow-duration="1.5s">
          <h2>Especialidades de Cris</h2>
          <div class="separetor"></div>
        </div>
        <div class="main_special text-center wow slideInUp" data-wow-duration="3s">
          
          <div class="col-md-2 col-sm-3 col-xs-6 single_special">
            <div class="single_special_img">
              <img src="../../assets/img/s1.png" alt="" />
              <div class="single_special_overlay text-center">
                <h3>Ensalada primavera</h3>
                <div class="overlay_separetor"></div>
                <p>Lechuga 3 estilos, jitimate,pepino,aguacate</p>
                <p>$150.00</p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-3 col-xs-6 single_special">
            <div class="single_special_img">
              <img src="../../assets/img/p2.jpg" alt="" />
              <div class="single_special_overlay text-center">
                <h3>Sopa Primavera</h3>
                <div class="overlay_separetor"></div>
                <p>Conbinacion de almendras con vegetales</p>
                <p>$110.00</p>
              </div>							
            </div>
          </div>
          <div class="col-md-2 col-sm-3 col-xs-6 single_special">
            <div class="single_special_img">
              <img src="../../assets/img/p3.jpg" alt="" />
              <div class="single_special_overlay text-center">
                <h3>Ensalada Otoño</h3>
                <div class="overlay_separetor"></div>
                <p>Delicia con col, lechugas,zanahoria y Tofu</p>
                <p>$150</p>
              </div>							
            </div>
          </div>
          <div class="col-md-2 col-sm-3 col-xs-6 single_special">
            <div class="single_special_img">
              <img src="../../assets/img/p4.jpg" alt="" />
              <div class="single_special_overlay text-center">
                <h3>Postre Primavera</h3>
                <div class="overlay_separetor"></div>
                <p>Deliciosas combinaciones de postres de la region de GDL</p>
                <p>$80.00</p>
              </div>							
            </div>
          </div>
          <div class="col-md-2 col-sm-3 col-xs-6 single_special">
            <div class="single_special_img">
              <img src="../../assets/img/p5.jpg" alt="" />
              <div class="single_special_overlay text-center">
                <h3>Donut Ligth</h3>
                <div class="overlay_separetor"></div>
                <p>Deliciosa dona echa con productos ligth</p>
                <p>$40</p>
              </div>							
            </div>
          </div>
          <div class="col-md-2 col-sm-3 col-xs-6 single_special">
            <div class="single_special_img">
              <img src="../../assets/img/p6.jpg" alt="" />
              <div class="single_special_overlay text-center">
                <h3>Gazpacho de Sandia</h3>
                <div class="overlay_separetor"></div>
                <p>Delicia Culinaria</p>
                <p>$120</p>
              </div>							
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </section>